{% extends 'base.j2' %}

{% block content %}
<div class="columns body-columns">
    <div class="column is-half is-offset-one-quarter">
        <div class="columns is-vcentered">
            <div class="column is-two-fifths">
                <figure class="image p-3">
                    <img class="is-rounded" src="media/urmila.jpeg" alt="Profile Image">
                </figure>
            </div>
            <div class="column is-three-fifths">
                <div class="content p-3">
                    <p>I'm Urmila Bade, an architect passionate about creating eco-friendly buildings. I design spaces
                        that not only look
                        beautiful but also help protect the environment. From bustling cities to serene natural
                        settings, I strive to make a
                        positive impact through my sustainable designs.
                    </p>

                </div>
            </div>
        </div>
        <div class="content">
            <p>Feel free to peruse through the following:</p>

            <p>
                <a href="pdfs/urmila-bade-cv.pdf" target="_blank">
                    <span class="tag">
                        <span class="icon p-3">
                            <i class="material-icons">summarize</i>
                        </span>
                        <span class="ml-1">
                            My CV
                        </span>
                    </span>
                </a>
            </p>
            <p>
                <a href="pdfs/urmila-bade-portfolio.pdf" target="_blank">
                    <span class="tag">
                        <span class="icon p-3">
                            <i class="material-icons">photo_library</i>
                        </span>
                        <span class="ml-1">
                            My portfolio
                        </span>
                    </span>
                </a>
            </p>
            <p>
                <a href="pdfs/urmila-bade-portfolio-small.pdf" target="_blank">
                    <span class="tag">
                        <span class="icon p-3">
                            <i class="material-icons">photo</i>
                        </span>
                        <span class="ml-1">
                            A smaller version of my portfolio
                        </span>
                    </span>
                </a>
            </p>
        </div>

        <h3 class="subtitle">Contact Me</h3>
        <p> Email: <a href="mailto:urmibade@gmail.com"> urmibade@gmail.com</a></p>
        <p>Address: London, United Kingdom</p>
    </div>
</div>
</div>
{% endblock %}