<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/styles/landing.css">
    </head>
    <body>
        <main class="container">
            <div class="landing">
                <div class="landing-content">{{ content }}</div>
            </div>
        </main>
        <script src="/scripts/landing.js"></script>
    </body>
</html>
